<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

</head>
<body>
  <div id='container'></div>

  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script> -->
  <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.js"></script>
  <!-- <script type="text/javascript" src="../javascripts/stats.js"></script>
  <script type="text/javascript" src="../javascripts/physi.js"></script>
  <script type="text/javascript" src="../javascripts/collisionDetection.js"></script> -->
  <script type="text/javascript" src="../javascripts/collisionDetection2.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>

// extends layout
//
// block content
//   h1= title
//   p Welcome to #{title}
