<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div id='container'>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script>
    <script type="text/javascript" src="../javascripts/cannon.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.js"></script> -->
    <!-- <script type="text/javascript" src="./javascripts/physi.js"></script>
    <script type="text/javascript" src="./javascripts/collisionDetection.js"></script> -->
    <!-- <script type="text/javascript" src="../javascripts/phaserCollisionDetection.js"></script> -->
    <script type="text/javascript" src="../javascripts/cannonCollisionDetection.js"></script>
  </body>
</html>
